.box-section-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  &__text {
    font-size: 18px;
    position: relative;
    z-index: 100;
    text-align: center;
    padding: 15px;
  }
}
.box-section-hero__title {
  color: #ffffff;
  padding-bottom: 15px;
  text-align: center;
}

.section-hero {
  padding-top: 30px;

  &__box {
    position: relative;
    width: 90%;
    min-height: 120px;
    border-radius: 30px;
    // border: solid 1px #ff014f;
    background: #23252b;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.43);
    border-radius: 10px;
    margin: 0 auto 20px auto;
    // text-align: center;
    z-index: 100;
  }
}
