.box-section-hero__title {
  color: #ffffff;
  padding-bottom: 15px;
  text-align: center;
}

.box-section-hero__texti-history {
  padding: 10px;
  overflow: auto;
  max-height: 300px;
  // scroll-padding-top: inherit;
  display: flex;
  // flex-direction: column-reverse;
  font-size: 14px;
}

.section-hero__box {
  display: flex;
}
